@-webkit-keyframes bombo-jumbo {
  0%   { -webkit-transform: scale(0); }
  80%  { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}

@keyframes bombo-jumbo {
  0%   { transform: scale(0); }
  80%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-webkit-keyframes pulse-opacity {
  0% { opacity: 0.5; }
  50% { opacity: 0.25; }
  100% { opacity: 0.5; }
}

@keyframes pulse-opacity {
  0% { opacity: 0.5; }
  50% { opacity: 0.25; }
  100% { opacity: 0.5; }
}

.ui-error-modal-appear {
  -webkit-animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1);
  animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); }

.ui-error-modal-disappear {
  -webkit-animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); -webkit-animation-direction: reverse;
  animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); animation-direction: reverse; }

.ui-error-modal-overlay {
          display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex;
          -ms-flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column; flex-direction: column;
          -ms-align-items: center; -moz-align-items: center; -webkit-align-items: center; align-items: center;
          -ms-flex-pack: center; -ms-align-content: center; -moz-align-content: center; -webkit-align-content: center; align-content: center;
          -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;
          position: fixed; left: 0; right: 0; top: 0; bottom: 0;
          font-family: Helvetica, sans-serif; }

.ui-error-modal-overlay-background { z-index: 1; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: white; opacity: 0.75; }

.ui-error-modal { box-sizing: border-box; display: -webkit-flex; display: flex; position: relative; border-radius: 4px; z-index: 2; width: 600px; background: white; padding: 36px 42px 128px 42px; box-shadow: 0px 30px 80px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.15); }

.ui-error-modal-title { font-weight: 300; font-size: 30px; opacity: 0.5; margin-bottom: 1em; }

.ui-error-modal-body { overflow-y: auto; width: 100%; }

.ui-error-modal-footer { text-align: right; position: absolute; left: 0; right: 0; bottom: 0; padding: 42px; }

.ui-error-btn { font-weight: 300; font-family: Helvetica, sans-serif; -webkit-user-select: none; user-select: none; cursor: pointer; display: inline-block; padding: 1em 1.5em; border-radius: 4px; font-size: 14px; border: 1px solid black; color: white; }
.ui-error-btn:focus { outline: none; }
.ui-error-btn:focus { box-shadow: inset 0px 2px 10px rgba(0,0,0,0.25); }

.ui-error-btn-danger       { background-color: #d9534f; border-color: #d43f3a; }
.ui-error-btn-danger:hover { background-color: #c9302c; border-color: #ac2925; }

.ui-error-btn-warning       { background-color: #f0ad4e; border-color: #eea236; }
.ui-error-btn-warning:hover { background-color: #ec971f; border-color: #d58512; }

.ui-error-alert-error { border-radius: 4px; background: #FFE8E2; color: #904C34; padding: 1em 1.2em 1.2em 1.2em; margin-bottom: 1em; font-size: 14px; }

/* stacktrace in Panic */

.ui-error-alert-error { position: relative; text-shadow: 0px 1px 0px rgba(255,255,255,0.25); }
.ui-error-alert-error:not(.all) .callstack-entry.third-party { display: none; }
.ui-error-alert-error .clean-toggle { text-decoration: none; font-weight: 300; position: absolute; color: black; opacity: 0.25; right: 1.2em; left: 0; top: 1em; display: block; text-align: right; }
.ui-error-alert-error .clean-toggle:hover { text-decoration: underline; }
.ui-error-alert-error .clean-toggle:before { content: 'more'; }
.ui-error-alert-error.all .clean-toggle:before { content: 'less'; }
.ui-error-alert-error:last-child { margin-bottom: 0; }

.ui-error-alert-error .callstack { font-size: 12px; margin: 2em 0 0.1em 0; font-family: Menlo, monospace; padding: 0 0 0 1.2em; }
.ui-error-alert-error .callstack .callstack-entry { margin-top: 10px; list-style-type: circle;  }
.ui-error-alert-error .callstack .callstack-entry .file { }
.ui-error-alert-error .callstack .callstack-entry .callee:not(:empty):before { content: ' → '; }
.ui-error-alert-error .callstack .callstack-entry .src { border-radius: 2px; cursor: pointer; margin-top: 2px; white-space: pre; overflow: hidden; display: block; color: black; background: rgba(255,255,255,0.75); padding: 4px; overflow: hidden; }
.ui-error-alert-error .callstack .callstack-entry .src.full { font-size: 12px; height: 200px; overflow: scroll; }
.ui-error-alert-error .callstack .callstack-entry .src.full .line.hili { background: yellow; }

.ui-error-alert-error .callstack .callstack-entry .src:empty:before { content: '<< SOURCE NOT LOADED >>'; color: rgba(0,0,0,0.25); }
.ui-error-alert-error .callstack .callstack-entry .src:empty { pointer-events: none; }

.ui-error-alert-error .callstack .callstack-entry .line:after { content: ' '; }

.ui-error-alert-error .callstack .callstack-entry .src.wait { -webkit-animation: pulse-opacity 1s ease-in infinite; animation: pulse-opacity 1s ease-in infinite; pointer-events: none; }

