@-webkit-keyframes bombo-jumbo {
  0%   { -webkit-transform: scale(0); }
  80%  { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); } }

@keyframes bombo-jumbo {
  0%   { transform: scale(0); }
  80%  { transform: scale(1.2); }
  100% { transform: scale(1); } }

@-webkit-keyframes pulse-opacity {
  0% { opacity: 0.5; }
  50% { opacity: 0.25; }
  100% { opacity: 0.5; } }

@keyframes pulse-opacity {
  0% { opacity: 0.5; }
  50% { opacity: 0.25; }
  100% { opacity: 0.5; } }

.i-am-busy { -webkit-animation: pulse-opacity 1s ease-in infinite; animation: pulse-opacity 1s ease-in infinite; pointer-events: none; }

.panic-modal .panic-scroll-fader-top, .panic-scroll-fader-bottom { left: 42px; right: 42px; position: absolute; height: 20px; pointer-events: none; }
.panic-modal .panic-scroll-fader-top { top: 36px; background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)); }
.panic-modal .panic-scroll-fader-bottom { bottom: 128px; background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); }

.panic-modal-appear {
  -webkit-animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1);
  animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); }

.panic-modal-disappear {
  -webkit-animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); -webkit-animation-direction: reverse;
  animation: bombo-jumbo 0.25s cubic-bezier(1,.03,.48,1); animation-direction: reverse; }

.panic-modal-overlay {
          display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex;
          -ms-flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column; flex-direction: column;
          -ms-align-items: center; -moz-align-items: center; -webkit-align-items: center; align-items: center;
          -ms-flex-pack: center; -ms-align-content: center; -moz-align-content: center; -webkit-align-content: center; align-content: center;
          -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;
          position: fixed; left: 0; right: 0; top: 0; bottom: 0; }

.panic-modal-overlay-background { z-index: 1; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: white; opacity: 0.75; }

.panic-modal * { letter-spacing: 0; font-family: Helvetica, sans-serif; }
.panic-modal { font-family: Helvetica, sans-serif; min-width: 640px; max-width: 90%; transition: 0.25s width ease-in-out; box-sizing: border-box; display: -webkit-flex; display: flex; position: relative; border-radius: 4px; z-index: 2; width: 640px; background: white; padding: 36px 42px 128px 42px; box-shadow: 0px 30px 80px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.15); }
.panic-alert-counter { float: left; background: #904C34; border-radius: 8px; width: 17px; height: 17px; display: inline-block; text-align: center; line-height: 16px; margin-right: 1em; margin-left: -2px; font-size: 10px; color: white; font-weight: bold; }
.panic-alert-counter:empty { display: none; }

.panic-modal-title { font-family: Helvetica, sans-serif; color: black; font-weight: 300; font-size: 30px; opacity: 0.5; margin-bottom: 1em; }
.panic-modal-body { overflow-y: auto; width: 100%; }
.panic-modal-footer { text-align: right; position: absolute; left: 0; right: 0; bottom: 0; padding: 42px; }

.panic-btn { margin-left: 1em; font-weight: 300; font-family: Helvetica, sans-serif; -webkit-user-select: none; user-select: none; cursor: pointer; display: inline-block; padding: 1em 1.5em; border-radius: 4px; font-size: 14px; border: 1px solid black; color: white; }
.panic-btn:focus { outline: none; }
.panic-btn:focus { box-shadow: inset 0px 2px 10px rgba(0,0,0,0.25); }

.panic-btn-danger       { background-color: #d9534f; border-color: #d43f3a; }
.panic-btn-danger:hover { background-color: #c9302c; border-color: #ac2925; }

.panic-btn-warning       { background-color: #f0ad4e; border-color: #eea236; }
.panic-btn-warning:hover { background-color: #ec971f; border-color: #d58512; }

.panic-alert-error { border-radius: 4px; background: #FFE8E2; color: #904C34; padding: 1em 1.2em 1.2em 1.2em; margin-bottom: 1em; font-size: 14px; }

.panic-alert-error { position: relative; text-shadow: 0px 1px 0px rgba(255,255,255,0.25); }

.panic-alert-error .clean-toggle { height: 2em; text-decoration: none; font-weight: 300; position: absolute; color: black; opacity: 0.25; right: 0; top: 0; display: block; text-align: right; }
.panic-alert-error .clean-toggle:hover { text-decoration: underline; }
.panic-alert-error .clean-toggle:before,
.panic-alert-error .clean-toggle:after { position: absolute; right: 0; transition: all 0.25s ease-in-out; display: inline-block; overflow: hidden; }
.panic-alert-error .clean-toggle:before { -webkit-transform-origin: center left; transform-origin: center left; content: 'more'; }
.panic-alert-error .clean-toggle:after { -webkit-transform-origin: center left; transform-origin: center right; content: 'less'; }
.panic-alert-error.all-stack-entries .clean-toggle:before { -webkit-transform: scale(0); transform: scale(0); }
.panic-alert-error:not(.all-stack-entries) .clean-toggle:after { -webkit-transform: scale(0); transform: scale(0); }

.panic-alert-error:last-child { margin-bottom: 0; }

.panic-alert-error-message { line-height: 1.2em; position: relative; }

.panic-alert-error .callstack { font-size: 12px; margin: 2em 0 0.1em 0; padding: 0; }
.panic-alert-error .callstack * { font-family: Menlo, monospace; }

.panic-alert-error .callstack-entry { white-space: nowrap; opacity: 1; transition: all 0.25s ease-in-out; margin-top: 10px; list-style-type: none; max-height: 38px; overflow: hidden; }
.panic-alert-error .callstack-entry .file { }
.panic-alert-error .callstack-entry .file:not(:empty) + .callee:not(:empty):before { content: ' → '; }

.panic-alert-error:not(.all-stack-entries) > .callstack > .callstack-entry.third-party:not(:first-child),
.panic-alert-error:not(.all-stack-entries) > .callstack > .callstack-entry.hide:not(:first-child),
.panic-alert-error:not(.all-stack-entries) > .callstack > .callstack-entry.native:not(:first-child) { max-height: 0; margin-top: 0; opacity: 0; }

.panic-alert-error .callstack-entry,
.panic-alert-error .callstack-entry * { line-height: initial; }
.panic-alert-error .callstack-entry .src { overflow: hidden; transition: height 0.25s ease-in-out; height: 22px; border-radius: 2px; cursor: pointer; margin-top: 2px; white-space: pre; display: block; color: black; background: rgba(255,255,255,0.75); padding: 4px; }
.panic-alert-error .callstack-entry.full .src { font-size: 12px; height: 200px; overflow: scroll; }
.panic-alert-error .callstack-entry.full .src .line.hili { background: yellow; }
.panic-alert-error .callstack-entry.full { max-height: 220px; }

.panic-alert-error .callstack-entry .src.i-am-busy { background: white; }

.panic-alert-error .callstack-entry        .src:empty                  { pointer-events: none; }
.panic-alert-error .callstack-entry        .src:empty:before           { content: '<< SOURCE NOT LOADED >>'; color: rgba(0,0,0,0.25); }
.panic-alert-error .callstack-entry.native .src:empty:before           { content: '<< NATIVE CODE >>'; color: rgba(0,0,0,0.25); }
.panic-alert-error .callstack-entry        .src.i-am-busy:empty:before { content: '<< SOURCE LOADING >>'; color: rgba(0,0,0,0.5); }

.panic-alert-error .test-log .location { transition: opacity 0.25s ease-in-out; color: black; opacity: 0.25; display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
.panic-alert-error .test-log .location:hover { opacity: 1; }

.panic-alert-error .test-log .location:before { content: ' @ '; }

.panic-alert-error .test-log .location .callee:after  { content: ', '; }
.panic-alert-error .test-log .location .file          { opacity: 0.5; }
.panic-alert-error .test-log .location .line:before   { content: ':'; }
.panic-alert-error .test-log .location .line          { opacity: 0.25; }

/*  Hack to prevent inline-blocked divs from wrapping within white-space: pre;
 */
.panic-alert-error .test-log .inline-exception-entry:after { content: ' '; }
.panic-alert-error .test-log .log-entry        .line:after { content: ' '; }
.panic-alert-error           .callstack-entry  .line:after { content: ' '; }

.panic-alert-error pre { overflow: scroll; border-radius: 2px; color: black; background: rgba(255,255,255,0.75); padding: 4px; margin: 0; }
.panic-alert-error pre,
.panic-alert-error pre * { font-family: Menlo, monospace; font-size: 11px; white-space: pre !important; }

.panic-alert-error.inline-exception { max-width: 640px; border-radius: 0; margin: 0; background: none; display: inline-block; transform-origin: 0 0; transform: scale(0.95); }
.panic-alert-error.inline-exception .panic-alert-error-message { cursor: pointer; }
.panic-alert-error.inline-exception:not(:first-child) { margin-top: 10px; border-top: 1px solid #904C34; }

