.tuning-hall { position: fixed; top: 0; left: 0; right: 0; bottom: 0; }
.tuning-hall:not(.visible) { display: none; }

.tuning-hall { display: flex; flex-direction: column; box-sizing: border-box; padding: 32px 50px; pointer-events: none; }

.tuning-hall .save-changes { width: 200px; margin-bottom: 20px; background: black; border: none; border-radius: 4px; color: white; opacity: 0.5; font-size: 10px; }

.tuning-hall.changed .save-changes { cursor: pointer !important; }
.tuning-hall:not(.changed) .save-changes {  opacity: 0.1; pointer-events: none; }

.tuning-hall .entry {
	width: 200px;
	pointer-events: all !important;
	cursor: default;
	user-select: none;
	margin-bottom: 20px;
}

.tuning-hall .entry .src {
	font-size: 8px;
	white-space: pre;
	font-family: Monaco, monospace;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.tuning-hall .entry .src span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	opacity: 0.75;
}

.tuning-hall .entry .src span.head {
	flex-grow: 1;
}

.tuning-hall .entry .src span.head.var {
	flex-shrink: 0;
	color: rgb(19, 73, 97);
	font-weight: bold;
}

.tuning-hall .entry .src span.rest {
	flex-grow: 1;
	text-align: right;
	position: relative;
}

.tuning-hall .entry .src span.rest em {
	display: block;
	right: 0;
	float: right;
}

.tuning-hall .entry .src span.value {
	flex-shrink: 0;
	font-weight: bold;
	font-size: 12px;
	padding: 0 5px;
	opacity: 1;
	text-align: center;
}

.tuning-hall .entry.cubic .src span.value {
	font-size: 8px;
}

.sliddah {
	margin-top: -5px;
	width:      100%;
	height:      24px;
	display:     inline-block;
	position:    relative;
}

.sliddah:before {
	position: absolute;
	left: 0;
	top: 10px;
	right: 0;
	bottom: 10px;
	content: '';
	background: rgba(0,0,0,0.25);
	border-radius: 5px;
}

.sliddah em {
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	position: absolute;
	left:    0px;
	top:    12px;
	width:  24px;
	height: 24px;
	margin-left: -12px;
	margin-top:  -12px;
	background: black;
	border-radius: 24px;
	text-align: center;
  	line-height: 24px;
  	color: transparent;
  	cursor: default;
  	-webkit-transition: color 0.2s ease-in-out;
}

.sliddah em:hover {
	color: rgba(255,255,255,0.5);
}

.cubicle { border-radius: 10px; margin-top: 5px; position: relative; background: #cccccc; opacity: 0.75; width: 200px; height: 200px; }
.cubicle .handle { position: absolute; width: 16px; height: 16px; border-radius: 16px; margin-top: -8px; margin-left: -8px; }
.cubicle .handle1 { top: 100%; left: 0;    background: black;   }
.cubicle .handle2 { top:   0;  left: 100%; background: black;  }

